<<<<<<< HEAD

/* Small devices (sm) */
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 8.33%;
    }

    .col-sm-2 {
        flex: 0 0 16.66%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33%;
    }

    .col-sm-5 {
        flex: 0 0 41.66%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33%;
    }

    .col-sm-8 {
        flex: 0 0 66.66%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33%;
    }

    .col-sm-11 {
        flex: 0 0 91.66%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
    }

}
/* Default for extra-small screens (xs) - All columns full width */
.col {
    flex: 0 0 100%;
}


/* Medium devices (md) */
@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 8.33%;
    }

    .col-md-2 {
        flex: 0 0 16.66%;
    }

    .col-md-3 {
        flex: 0 0 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33%;
    }

    .col-md-5 {
        flex: 0 0 41.66%;
    }

    .col-md-6 {
        flex: 0 0 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33%;
    }

    .col-md-8 {
        flex: 0 0 66.66%;
    }

    .col-md-9 {
        flex: 0 0 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33%;
    }

    .col-md-11 {
        flex: 0 0 91.66%;
    }

    .col-md-12 {
        flex: 0 0 100%;
    }
}

/* Large devices (lg) */
@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 8.33%;
    }

    .col-lg-2 {
        flex: 0 0 16.66%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33%;
    }

    .col-lg-5 {
        flex: 0 0 41.66%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33%;
    }

    .col-lg-8 {
        flex: 0 0 66.66%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33%;
    }

    .col-lg-11 {
        flex: 0 0 91.66%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
    }

}

/* Large devices (lg) */
@media (min-width: 1200px) {
}
#check{
    display: none;
}
@media(max-width:992px){
    .chkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 40vh;
        background: rgb(16, 15, 15);
        top: 80px;
        right: 100%;
        text-align: center;
        transition: all 0.2s ease-in-out;
    }
    .nav-togle ul li{
        display: block;

    }
    .nav-togle ul li a{
        font-size: 20px;
    }
    li:hover{
        background-color: white;
        color: black;
    }
    #check:checked ~ ul{
        left: 0;
    }

=======

/* Small devices (sm) */
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 8.33%;
    }

    .col-sm-2 {
        flex: 0 0 16.66%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33%;
    }

    .col-sm-5 {
        flex: 0 0 41.66%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33%;
    }

    .col-sm-8 {
        flex: 0 0 66.66%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33%;
    }

    .col-sm-11 {
        flex: 0 0 91.66%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
    }

}
/* Default for extra-small screens (xs) - All columns full width */
.col {
    flex: 0 0 100%;
}


/* Medium devices (md) */
@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 8.33%;
    }

    .col-md-2 {
        flex: 0 0 16.66%;
    }

    .col-md-3 {
        flex: 0 0 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33%;
    }

    .col-md-5 {
        flex: 0 0 41.66%;
    }

    .col-md-6 {
        flex: 0 0 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33%;
    }

    .col-md-8 {
        flex: 0 0 66.66%;
    }

    .col-md-9 {
        flex: 0 0 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33%;
    }

    .col-md-11 {
        flex: 0 0 91.66%;
    }

    .col-md-12 {
        flex: 0 0 100%;
    }
}

/* Large devices (lg) */
@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 8.33%;
    }

    .col-lg-2 {
        flex: 0 0 16.66%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33%;
    }

    .col-lg-5 {
        flex: 0 0 41.66%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33%;
    }

    .col-lg-8 {
        flex: 0 0 66.66%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33%;
    }

    .col-lg-11 {
        flex: 0 0 91.66%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
    }

}

/* Large devices (lg) */
@media (min-width: 1200px) {
}
#check{
    display: none;
}
@media(max-width:992px){
    .chkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 40vh;
        background: rgb(16, 15, 15);
        top: 80px;
        right: 100%;
        text-align: center;
        transition: all 0.2s ease-in-out;
    }
    .nav-togle ul li{
        display: block;

    }
    .nav-togle ul li a{
        font-size: 20px;
    }
    li:hover{
        background-color: white;
        color: black;
    }
    #check:checked ~ ul{
        left: 0;
    }

>>>>>>> 2c617e55d600a4d24719a4aa77adc3acfe5220e6
}